<!--The content below is only a placeholder and can be replaced.-->

{{questionInfo | json}};
<!--read in data as json object-->


<app-seinfeld #seinfeldAttributes></app-seinfeld>
<app-harrison-ford></app-harrison-ford>
<app-cartoons></app-cartoons>

Quiestion: {{questionInfo?.question}} <br><br> Answer: {{questionInfo?.answer}} <br><br> Value: {{questionInfo?.value}} <br><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="col-md-12 text-center">
      <h1>Jeopardy</h1>
    </div>
  </div>

  <div class="panel-heading">
    <div class="text-center col-md-2 col-md-offset-1">
      <h4>Seinfeld</h4>
    </div>
    <!-- offset to center odd number of columns -->
    <div class="text-center col-md-2">
      <h4>Category 2e</h4>
    </div>
    <div class="text-center col-md-2">
      <h4>Category 3</h4>
    </div>
  
    <div class="clearfix"></div>
    <!-- Placeholder squares the header around the headings. it basically fixes everything -->
  </div>
  <div class="panel-body" id="main-board">
    <div class="category col-md-2 col-md-offset-1" id="category309">
      <div class="well question question1">{{questionInfo[0].value}}</div>
      </div>
    <div class="category col-md-2" id="category31">
      <div class="well question question1">100</div>
      <div class="well question question2">200</div>
      <div class="well question question3">300</div>
      <div class="well question question4">400</div>
      <div class="well question question4">500</div>
    </div>
    <div class="category col-md-2" id="category680">
      <div class="well question question1">100</div>
      <div class="well question question2">200</div>
      <div class="well question question3">300</div>
      <div class="well question question4">400</div>
      <div class="well question question4">500</div>
    </div>
  </div>
</div>

<div id="scoreboard">

  0

</div>

<!-- <app-favorite-things #favoriteThingsAttributes (thingSelected)="catchThingSelected($event)" [title]="title"></app-favorite-things> -->
<!-- <app-favorite-things [title]="title"></app-favorite-things> -->
