<!--The content below is only a placeholder and can be replaced.-->

{{questionInfo | json}}; <!--read in data as json object-->
The Question is : {{questionInfo?.question}};

<app-seinfeld #seinfeldAttributes></app-seinfeld>
<app-harrison-ford></app-harrison-ford>
<app-cartoons></app-cartoons>

  <!-- <app-favorite-things #favoriteThingsAttributes (thingSelected)="catchThingSelected($event)" [title]="title"></app-favorite-things> -->
  <!-- <app-favorite-things [title]="title"></app-favorite-things> -->

